input{
    width : 250px !important;
    margin-bottom: 10%;
    margin-top: 10%;
}

input[type="number"]{  
    text-align: right; 
    color: black;
    font-weight: bold;
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

