body{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(90, 119, 109);
}

#heading{
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#heading >img {
  margin : 2%;
}